.form-group {
    margin-bottom: 10px; /* Adjust this value to control the vertical distance */
    display: flex; /* Use flexbox to align label and input horizontally */
    align-items: center; /* Vertically center items within the .form-group */
}

/* Style the labels within .form-group */
.form-group label {
    flex: .4; /* Allow labels to take up some space */
    margin-right: 2px; /* Add some spacing between labels and inputs */
    display: block;
}

/* Style the inputs within .form-group */
.form-group input {
    flex: 3; /* Allow inputs to take up more space */
    width: auto; /* Remove the fixed width to make them flexible */
}
